.component41-container {
  gap: var(--dl-space-space-twounits);
  width: 1072px;
  height: 460px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 1135px;
  flex-direction: column;
  justify-content: center;
}
.component41-text {
  width: 899px;
}









